.auctn{
    &_font1{
        font-family: 'Lato';
        font-weight: 700;
    }
    &_font2{
        font-size: 19px;
        font-weight: 700;
        font-family: 'Lato';
    }
    &_font3{
        font-size: 22px;
        color: red;
        font-weight: 600;
        font-family: 'Lato';
    }
}