.auctn{
    &_font1{
        font-family: 'Lato';
        font-weight: 700;
    }
    &_font2{
        font-size: 19px;
        font-weight: 700;
        font-family: 'Lato';
    }
    &_font3{
        font-size: 22px;
        color: red;
        font-weight: 600;
        font-family: 'Lato';
    }
    &_font4{
        font-size: 19px;
        font-weight: 700;
        font-family: 'Lato';
    }
    &_font5{
        display: inline-block;
        padding: 2px 5px;
        margin-right: 5px;
        background: #1f1f1f;
        font-size: 11px;
        color: #fff;
        font-weight: 300;
        text-align: center;
        vertical-align: middle;
    }
}