$color1:#253241;
$color2:white;
$color3:#e0000c;


.lh2{
    line-height: 2px;
}

@import "_navbar";
@import "_breadCrumb";
@import "_buttons";
@import "_margins";
@import "_account";
@import "_fonts";





