$color1:#253241;
$color2:white;
$color3:#e0000c;


.lh1{
    line-height: 1px;
}
.lh2{
    line-height: 2px;
}
.lh3{
    line-height: 3px;
}
.lh4{
    line-height: 4px;
}
.lh14{
    line-height: 14px;
}

@import "_navbar";
@import "_breadCrumb";
@import "_buttons";
@import "_margins";
@import "_account";
@import "_fonts";





